# List Creation

In [1]:
emptylist = []
lst = ['one','two','three','four'] #list of strings
lst2 = [1,2,3,4] # list of intergers 
lst3 = [[1,2],[3,4]] # list of list
lst4 = [1,'ramu', 24, 1.24] # list of different datatypes
print(lst4)

[1, 'ramu', 24, 1.24]

# List Length

In [2]:
lst = ['one', 'two', 'three', 'four']
# find length of a list 
print (len(lst))

4

# List Append

In [3]:
lst = ['one', 'two', 'three', 'four']
lst.append('five') # append will add the item at the end 
print(lst)

['one', 'two', 'three', 'four', 'five']

# List  Insert

In [4]:
# syntax: lst.insert (x,y)
lst = ['one', 'two','four']
lst.insert(2, "three") # will add element y at location x
print(lst)

['one', 'two', 'three', 'four']

# List Remove

In [5]:
# syntax : lst.remove(x)
lst = ['one', 'two', 'three', 'four'] 
lst.remove('two') # it will remove first occrence of 'two' i nthe given list 
print(lst)

['one', 'three', 'four']

# List Append & Extend

In [6]:
lst1 = ['one', 'two', 'three', 'four'] 
lst2 = ['five', 'six']
# append
lst.append(lst2)
print(lst)

['one', 'three', 'four', ['five', 'six']]

In [7]:
lst1 = ['one', 'two', 'three', 'four'] 
lst2 = ['five', 'six']
#extend will join list with list1

lst.extend(lst2)
print(lst)

['one', 'three', 'four', ['five', 'six'], 'five', 'six']

# List Detete

In [9]:
# del to remove item base on index position 


lst = ['one', 'two', 'three', 'four', 'five']
del lst[1]
print(lst)


# or we can use pop(method )

a = lst.pop(1)
print(a)
print (lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [11]:
lst = ['one', 'two', 'three', 'four']

# remove an item form list 
lst.remove ('three')

print(lst)

['one', 'two', 'four']

# List  related  keywords in python

In [13]:
# keyword 'in' is used to rest if an item is a list
lst = ['one', 'two', 'three', 'four']
if 'two' in lst :
    print ('AI')
    
    
#keyword not can combined with  'in '
if 'six' not in lst :
    print ('ML')

AI
ML

# List Reverse

In [15]:
# reverse is reverses the entire list
lst = ['one', 'two','three', 'four']

lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

# List Sorting

In [17]:
# create a list with numbers 
numbers = [3,1,6,2,8]
sorted_lst = sorted(numbers)

print("Sorted list:", sorted_lst)

# original list remain unchanged

print("Original list:", numbers)

Sorted list: [1, 2, 3, 6, 8]
Original list: [3, 1, 6, 2, 8]

In [18]:
# print a list in reverse sorted order

print("Reverse sorted list :", sorted(numbers , reverse= True))

#orginal list remain unchnaged 

print("Original list:", numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
Original list: [3, 1, 6, 2, 8]

In [19]:
lst = [1,20,5,5,4.2]
# sort the list &stored in itself

lst.sort()

# add element 'a to the list to show an  error'
print("Sorted list: ", lst)

Sorted list:  [1, 4.2, 5, 5, 20]

In [21]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list # sort with of different datatypes

TypeError: '<' not supported between instances of 'str' and 'int'

 # List Having Multiple References

In [22]:
lst = [1,2,3,4,5]
abc = lst
abc.append(6)


# print original list.
print("Original list:" , lst)

Original list: [1, 2, 3, 4, 5, 6]

# String Split to create a list

In [23]:
# let;s take a string 

s = "one two, three, four, five"
slst = s.split(',')
print(slst)

['one two', ' three', ' four', ' five']

In [25]:
s= "I am very hot boy"
split_slt = s.split() # default split is white- character: space or tat
print(split_slt)

['I', 'am', 'very', 'hot', 'boy']

# List Indexing

In [27]:
lst = [1,2,3,4]
print(lst[1]) # print  second element


#print  last element using negative index 

print(lst [-2])

2
3

# List Slicing

In [28]:
numbers = [10,20,30,40,50,60,70,80]

#print all numbers 
print (numbers[:])

#print from index 0 to index 3
print (numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [29]:
print(numbers)
# print alternate elemnets in a list

print(numbers[::2])


#print elemts start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

# List extend using  "+"

In [30]:
lst1 = [1,2,3,4]
lst2 = ['Rahul', 'Atul', 'Shruti', 'pooja']
new_lst = lst1 +lst2

print(new_lst)

[1, 2, 3, 4, 'Rahul', 'Atul', 'Shruti', 'pooja']

# List  Count

In [32]:
numbers  = [1,2,3,4,5,6,7]
#numbers = [1, 2, 3, 1, 3, 4, 2, 5]
#frequency of 1 in a list

print(numbers.count(1))


#frequency of 3 in a list

print(numbers.count(3))

1
1

# List Looping

In [33]:
# loop through a list 

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

# List Comprehensions

In [34]:
# without list comrehensions 

squares = []
for i in range(10):
    squares.append(i**2) # list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
# using list comprehension 
squares = [i**2 for  i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# example


lst = [-10, -20, 10, 20, 50]


#create a new list with values doubled


new_lst = [i*2 for i in lst]



print(new_lst)

#filter the list to exclude negative numbers

new_lst = [i for i in lst if i >= 0]
print(new_lst)
#create a list of tuples like (number, square_of_number)

new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Nested List Comprehensions

In [45]:
# let's suppose we have a matrix


matrix = [
[1, 2, 3, 4],
[5, 6, 7, 8],
[9, 10, 11, 12]
]
#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [46]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]