# Input function

In [1]:
a = float(input('Enter the value'))

Enter the value55.67

In [2]:
type (a)

float

In [3]:
print(a)

55.67

# Type of conversion

In [4]:
x = 32.567
y = 85
z = 'I  love India'

In [5]:
int(x)  # Conversion of flaat to integer -> the decimal part wil be created  truncated

32

In [6]:
type(y)

int

In [9]:
float(y)

85.0

In [10]:
str(x)

'32.567'

In [11]:
str(y)

'85'

In [12]:
int('56.564')

ValueError: invalid literal for int() with base 10: '56.564'

In [13]:
float('54.564')

54.564

In [14]:
int(float('56.5562'))

56

# Rules of type conversion:
1) We can convert from float to int, the decimal part of the float will be truncated
2) We can convert from int to float, a decimal point and a zero will be added
3) We can convert float / int to string
4) We can't convert strings like '34.567' to int, but we can convert it to float
5) We can convert strings like '27' to int

### Write a code to take input of two numbers from uer and produce there sum

In [1]:
a = float(input("Enter first number:"))

Enter first number:-34.5

In [3]:
b = float(input("Enter second number:"))

Enter second number:89

In [4]:
c = a+b

In [5]:
print(a,"+", b,"=", c)

-34.5 + 89.0 = 54.5

# Formatted print statement

In [6]:
"My Name is {}".format('Rahul')

'My Name is Rahul'

In [7]:
"{} +{} ={}".format(a,b,c)

'-34.5 +89.0 =54.5'

In [9]:
print("The sum of {} and {}  is {}".format(a,b,c))

The sum of -34.5 and 89.0  is 54.5

In [11]:
print(f"The sum of {a} and {b} is {c}") # f-string

The sum of -34.5 and 89.0 is 54.5

#  Take three sides of triangle  and  produce the  area of the triangle

##### The sides  are denoted  by a, b, c

In [16]:
 a = 10 
 b = 8
 c = 6

In [18]:
s = 0.5*(a+b+c)

In [19]:
area  = (s*(s-a)*(s-b)*(s-c))**0.5

In [21]:
print(f"Area of the triangle is : {area}")

Area of the triangle is : 24.0

# String concatenation (addition) and Multiplication

In [22]:
s = "I am Indain"

In [23]:
x = "I love my country"

In [24]:
s+ "." + x

'I am Indain.I love my country'

In [25]:
5* s

'I am IndainI am IndainI am IndainI am IndainI am Indain'

In [26]:
s+s+s+s+s

'I am IndainI am IndainI am IndainI am IndainI am Indain'

In [27]:
a = int(input("Enter the number:"))

Enter the number:54

# Boolean type  variable

#### It can take only two values , True or False

In [28]:
b = True
type(b)

bool

In [29]:
c= False
type(c)

bool

# OR Operation

In [30]:
b or c

True

# AND operation

In [31]:
b and c

False

# Not Operation

In [32]:
not b

False

In [33]:
(not b) or (not c)

True

# My First Python : Hellow  World

In [35]:
# Comment line , this will not executed  by python interpreter
# Print() function
print("Hellow World")

Hellow World

In [36]:
print("Hellow  world again")

Hellow  world again

In [37]:
print("oh hellow")

oh hellow

In [38]:
print("Statement -1")
print("Statement -2")

Statement -1
Statement -2

### print() fuction in python

In [40]:
# print statement with end
print("My name is : Rahul", end="\t") # \n stands  for neline, '\t stands for tab'
print("Your name is: Sachin")

My name is : Rahul	Your name is: Sachin

# Variables

#### A Variable is  nothing but a memory location in computer, where you can store  value

In [1]:
a = 5

In [2]:
print(a)

5

In [3]:
a

5

In [4]:
type(a)

int

In [5]:
b = 92.381

In [6]:
type(b)

float

In [7]:
c = 'happy new year'
type(a)

int

In [9]:
print(c)

happy new year

# Data Types

#### So  we have  seen there are primarily 3 types of data in Python

###### 1) integer
###### 2) Floating  Point
###### 3) String

#### A variable  name :

1) can't contain spaces
2) Can't contain any  special other than underscore
3) can be started/ ended with unerscore
4) can contain alphanmeric characters
5) Can't start with a number

In [10]:
my_name = "Rahul"

# Arithmatic Operators

In [11]:
a = 3
b =5.6
c= 45

# Addition

In [12]:
d = a+b
print(d)

8.6

# Subtraction

In [13]:
c-b

39.4

In [14]:
b-a

2.5999999999999996

In [15]:
e = 8.6 - 2.5
print(e)

6.1

# Multiplication

In [16]:
a * e

18.299999999999997

# Division

In [17]:
 c / a

15.0

# Integer  Division (Quotient)

In [18]:
 c // a

15

In [19]:
f = 67
g = 7
f // g

9

In [20]:
f  = 95.34
g = 3.45

f // g

27.0

In [21]:
 f / g

27.63478260869565

#  Modulo Division (Remainder)

In [22]:
 x = 45 
 y = 7 

x % y

3

In [23]:
 x  =34.79
    
 y = 2.67

 x % y

0.08000000000000007

# Exponentiation

In [24]:
4**3

64

In [25]:
 x = 9 
 y = (3/2)

x ** y

27.0

# Conditional operators

##### They always returns boolean value

###### If the condition is true  then they return  True else they  False

#   == (Equality)

In [26]:
 a = 5  # Here  = means  assignment, assigning  value 5 to variable a 
    
 a == 10 # Here   == mean equality conitional operator , it will check whether a is  equal to 10  if a is  10 then it will return True, else it  will return False

False

# != (non -equality)

In [27]:
 a !=10

True

#  >= (greater than or equal to )

In [5]:
b = int(input("Enter the number: "))

Enter the number: 20

In [6]:
b >= 5

True

In [7]:
b >= 35

False

# > (greater than)

In [8]:
b > 6

True

# <=(less than or equal to )

In [9]:
 b <= 10

False

# < (less than)

In [11]:
b < 10

False

# Conditonal statment

# If -Else

if (condtion):

   run this code block when condition is met
   
Else:

  run this code block when condition does not   meet

#### Take a number from user as input and check whether it is even or odd

In [13]:
a = int(input("Enter an integer :"))

Enter an integer :45

In [15]:
if a%2 == 0 :
  print("Even")
else:
    print("odd")

odd

# Take a number from user and check whether it is a perfect square or not

In [16]:
int(23**0.5)== 23**0.5  # 23**0.5  = 4.79 , int(23**0.5) = 4

False

In [17]:
int(36**0.5) == 36**0.5  # 36** 0.5  = 6.0 int(36**0.5) = 6

True

In [18]:
a = int(input("Enter a positive integer:"))

Enter a positive integer:100

In [19]:
if (int(a**0.5) == a**0.5):
    print(f"{a} is a Perfect square")
else:
    print(f"{a} is Not a perfect square")

100 is a Perfect square

# Nested if  -else(if -elie-else)


if (conditon-1):
   
   run  this  code block
   
 elif(condition -2):
 
 run this code block
 
 elif (condition -3):
  
  run this code block
  
  else:
  
  run this code block

#### Write a program (WAP) to input of a person's age and classify the  person based as age as following:

1) if 0 <= age <18, -> Not Adult

2) if 18 <=age <30 , -> Young Adult

3) if 30 <= age <45, -> Middle aged

4) if 45<= age < 60 , -> Upper middle aged

5) if age> 60, -> Senior Citizen

In [21]:
age = int(input("Enter the  age :"))

if age >=0 and age < 18 :
    print("Not adult")
elif age >= 18  and age < 30 :
    print("Young adult")
elif age >= 30  and age < 45 :
    print ("Middle aged")
elif age >= 45 and age  < 60 :
    print("Upper middle aged")
else:
    print("Senior citizen")

Enter the  age :35
Middle aged

### WAP that will take input of two numbers from user and a choice and will perform operation on those two numbers based  on the choice

1) if choice = 1 then addition
2) if choce =  2 then subtraction
3) if choice = 3 then multiplication

In [24]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter first number: "))

choice = int(input("Enter your choice: "))
if choice == 1:
    print(num1 + num2)
elif choice == 2:
    pint (num1 - num2)
elif choice == 3:
    print (num1 *num2)
elif choice == 4:
    print(num1 / num2)
else :
    print("The choice is not correct")

Enter first number: 84
Enter first number: 34.5
Enter your choice: 5
The choice is not correct

# While loop
  while (condition) :
  
  
    keep on running  this code block, as long as the condition  is met

## Print all  the numbers from 0 to 20

In [25]:
counter  = 0 
while (counter <= 20):
    print(counter)
    counter += 1 # We are incrementing the counter value by 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [26]:
 a = 45
 a += 34 # a = a+34
print(a)

79

In [27]:
a  -= 23 # a = a - 23
print(a)

56

In [29]:
a *= 3 # a  = a * 3
print(a)

504

### WAP to print all the odd numbers  between  0 and a number provided by user.

In [1]:
n = int(input("Enter the end number:"))

counter = 0

while (counter <= n):
    if(counter % 2 != 0):
        print(counter)
    counter += 1

Enter the end number:25
1
3
5
7
9
11
13
15
17
19
21
23
25

### WAP to  take a positve integer from user  and print the number of digits

In [2]:
n = int(input("Enter the number: "))
num_of_digits = 0

while(n > 0):
    n = n // 10
    num_of_digits  += 1
print(f"There are {num_of_digits} digits")

Enter the number: 3214567899
There are 10 digits

## WAP to sum all the digits in a given positive integer

In [3]:
n = int(input("Enter the number :"))

s = 0 

while (n > 0) :
    s += n%10
    n = n // 10

print(f"The sum of digits = {s}")

Enter the number :63589
The sum of digits = 31

## Given a positve integer produce a number which is reverse of  it .


 For example : if the given is 2356 then produce 6532

In [4]:
n = int(input("Enter the number :"))
    
m = 0
while (n > 0 ):
    m = 10 * m + n % 10
    n = n // 10 
print(f"The reversed number is {m}")

Enter the number :732283
The reversed number is 382237

#  Range  function

Gives  values within  the range of two numbers 

The Structure of range () function is following 

  range (start , stop, step)

start ->The number  from  where you want  to start ( optional), defalt value is 0

stop -> the number where you want to stop , excluded (required ) 

step -> the number specifices  the increment (optional) , default value is 1

#  For Loop 

 for i in interable :
 
  code to follow
  
  i is an iternator (you can any variable  instead of i )
  
  iterable is an object in python on which  we can iterate

In [5]:
x = range(20)

print (x)

range(0, 20)

In [6]:
for i in x :
    
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
y = range(5, 15)

for i in y :
    print (i)

5
6
7
8
9
10
11
12
13
14

In [8]:
for i in range (5, 30 , 2) :
    print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29

# print all the odd numbers between a range given by user.

In [9]:
start  = int( input("Enter the starting  number :"))

stop  = int(input("Enter the ending number: "))

Enter the starting  number :10
Enter the ending number: 50

In [11]:
for i in range (start , stop+1 , 1):
    if i % 2 != 0:
        print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# Find all the divisors of a given positive number (excluding that number)

For example : if the given number is 12, then it should  print 1,2,3,4,6

In [13]:
n = int(input("Enter the number: "))

Enter the number: 35

In [14]:
for i in range(1, n//2 + 1):
    if n % i == 0:
        print(i)

1
5
7

### Perfect number: A perfect number is sum of its postive divisors (excluding that number)

example : 6

The positive factors / divisors of 6 are  1,2,3

1+2+3

So 6 is a perfect number

#### Wap to check whether a number a perfect  number or not

In [15]:
n = int(input("Enter the number :"))

Enter the number :28

In [17]:
s = 0 # s is a variable which will store the sum of the factors

for i in range(1, n//2 + 1):
    if n % i == 0:
        s = s+i   # 'i' is added with present value of s and get stored in s
        
if (s == n):
    print(f"{n} is a perfect number.")
else:
    print(f"{n} is not a perfect number.")

28 is a perfect number.

# Nested Loops 

      for i in range(0, 25):
           for j in range(i, 30 ):
             print(J)

In [22]:
for i in  range(1, 6):
    print(f"Multiplication table of {i}\n")
    for j in range(1, 11):
        print(f"{i} * {j}  = [i*J]")
        print("\n\n")

Multiplication table of 1

1 * 1  = [i*J]



1 * 2  = [i*J]



1 * 3  = [i*J]



1 * 4  = [i*J]



1 * 5  = [i*J]



1 * 6  = [i*J]



1 * 7  = [i*J]



1 * 8  = [i*J]



1 * 9  = [i*J]



1 * 10  = [i*J]



Multiplication table of 2

2 * 1  = [i*J]



2 * 2  = [i*J]



2 * 3  = [i*J]



2 * 4  = [i*J]



2 * 5  = [i*J]



2 * 6  = [i*J]



2 * 7  = [i*J]



2 * 8  = [i*J]



2 * 9  = [i*J]



2 * 10  = [i*J]



Multiplication table of 3

3 * 1  = [i*J]



3 * 2  = [i*J]



3 * 3  = [i*J]



3 * 4  = [i*J]



3 * 5  = [i*J]



3 * 6  = [i*J]



3 * 7  = [i*J]



3 * 8  = [i*J]



3 * 9  = [i*J]



3 * 10  = [i*J]



Multiplication table of 4

4 * 1  = [i*J]



4 * 2  = [i*J]



4 * 3  = [i*J]



4 * 4  = [i*J]



4 * 5  = [i*J]



4 * 6  = [i*J]



4 * 7  = [i*J]



4 * 8  = [i*J]



4 * 9  = [i*J]



4 * 10  = [i*J]



Multiplication table of 5

5 * 1  = [i*J]



5 * 2  = [i*J]



5 * 3  = [i*J]



5 * 4  = [i*J]



5 * 5  = [i*J]



5 * 6  = [i*J]



5 * 7  = [i*J]



5 * 8  = [i*J]



5 * 9  = [i*J]



5 * 10  = [i*J]

# Print all the prime numbers between a given range

In [25]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

for i in range(start, end+1):
    flag = 0
    for j in range(2, i//2 + 1):
        if i % j == 0:
            flag = 1
            break
    if flag == 0:
        print(i)

Enter the starting number: 23
Enter the ending number: 75
23
29
31
37
41
43
47
53
59
61
67
71
73

# List

In [1]:
a = [] # empty list

In [2]:
type(a)

list

In [1]:
a = [1,2,-34.67,'c', 'Rahul Bhogare',True , 10, 4.5, False]

In [2]:
type(a)

list

# Length of  list

In [3]:
len(a) # return the length of  list 'a'

9

In [5]:
b = []
len(b)

0

# Indexing  of list

In [6]:
a[0]

1

In [7]:
a[5]

True

In [8]:
a[8]

False

In [9]:
a[9]

IndexError: list index out of range

# Negative Indexing

In [10]:
a[-1]

False

In [11]:
a[-4]

True

In [12]:
a[-9]

1

In [13]:
a[-10]

IndexError: list index out of range

# Retrieve second last element from list

In [14]:
l = [2,-4,7, 10, 8, -23, 78,-43]

In [15]:
l[-2]

78

In [16]:
l[len(l)-2]

78

# Slicing 

#### for a list 'L' slicing is done in following way 

##### L[n1:n2:n3]

##### n1 : starting index(included) {optional} I default = 0 
###### n2 : ending index (excluded ){ optional}  I default = len(L)
##### n3 : step {optional} l default  = 1

# Example - 1:

#### len(L)  = 10
##### L[3:8]  it will produce a list with values L[3], L[4], L[5], L[6], L[7]

In [17]:
l = [2,-4,7,10,8,-23,78,-43]
l[1:4]

[-4, 7, 10]

# Example -2:

#### suppose  len (L) = 10  
#####  L[1:8:2] it  will produce  a list values  L[1], L[3], L[5], L[7]

In [18]:
l = [2,-4,7,10,8,-23,78,-43,32]

l[1:8:2]

[-4, 10, -23, -43]

# Example-3 :

#### suppose len(L) = 10 
###### L[:6] it iwll produce a list with values  L[0], L[1], L[2], L[3], L[4] , L[5]
L[5:] it  will produce a list with vlues L[5] , L[6] , L[7] , L[9]

In [19]:
l[:5]

[2, -4, 7, 10, 8]

In [20]:
l[6:]

[78, -43, 32]

# Example -4 : 
 
#### L[::] -> produce entire list

#### L[:] -> Produce entire list

In [21]:
l[::]

[2, -4, 7, 10, 8, -23, 78, -43, 32]

In [22]:
l[:]

[2, -4, 7, 10, 8, -23, 78, -43, 32]

# Example-5 :

### L[8:2:-1] it will produce a list  L[8] , L[7] , L[5] , L[4], L[3]

In [24]:
l[8:2:-1]

[32, -43, 78, -23, 8, 10]

In [25]:
l[7:1-2]

[-43]

# Example ->6 :

##### L[:: -1] -> will produce list in reverse order

In [26]:
l[:: -1]

[32, -43, 78, -23, 8, 10, 7, -4, 2]

In [27]:
for i in range (len(l)-1,-1,-1):
    print(l[i], end = " ")

32 -43 78 -23 8 10 7 -4 2

# Printing  the elements of  a list

In [28]:
my_list = ['apple', 'banana', 'kivi', 'coconut oil' , 'grapes']

In [29]:
# methos -1 using for loop and indexing 
for i in range (len(my_list)):
    print (i+1, "  :  ", my_list[i])

1   :   apple
2   :   banana
3   :   kivi
4   :   coconut oil
5   :   grapes

In [31]:
#  methos  2 :  using  for loop  and interator

for x in my_list :
    
    print (x)

apple
banana
kivi
coconut oil
grapes

# Printing the element of list  in reverse order

In [32]:
# method -1 :

for i in range (len(my_list) -1,-1,-1):
    print(my_list[i])

grapes
coconut oil
kivi
banana
apple

In [33]:
# method -2 :

for x in my_list[:: -1]:
    print(x)

grapes
coconut oil
kivi
banana
apple

# List of lists

In [34]:
a = [9,10,-12]
b = [True, False, 'c', "sherlock", -34.56]
c = []
d = [-3.45]

In [35]:
my_list = [a,b,c,d]

In [36]:
my_list

[[9, 10, -12], [True, False, 'c', 'sherlock', -34.56], [], [-3.45]]

In [37]:
my_list[0]

[9, 10, -12]

In [38]:
my_list[2]

[]

In [40]:
my_list[1][3]

'sherlock'

# List Methods

# append()

##### This methood is used to add element in existing list .

In [41]:
l = [10,20,60,5080,100, 1000,4000]

In [42]:
l.append(500)

In [44]:
print(l)

[10, 20, 60, 5080, 100, 1000, 4000, 500]

In [46]:
a = []
a.append(56)
print(a)

[56]

In [47]:
l.append(34)

In [48]:
l

[10, 20, 60, 5080, 100, 1000, 4000, 500, 34]

# extend()

##### The  purpose of this meothod to add elment of one list  to another 

Example = 

a = [4,6,7]
b = [8,9,10]
If I do 

a.extend(b)
Then it  will produce [4,5,7,8,9,10]

In [49]:
a = [1,3,5]
b= [8,10,12]
a.extend(b)

print(a)

[1, 3, 5, 8, 10, 12]

In [50]:
b

[8, 10, 12]

# pop()
#### This method is used to remove the last elment form the list

In [51]:
a = ['rahul', 'atul', 'wakad', 'four']

In [52]:
a.pop() # return the last elment and will remove that from list 

a

['rahul', 'atul', 'wakad']

In [53]:
b = ["one","five", "six" , "apple","sex"]

In [54]:
b.pop(2) # element at index 2 is returned and will be removed from the list

'six'

# Insert()

###### The main the purpose of this method add element in the current list

In [58]:
x = [4,2,-9,10.5, 24, -3, 8.8]

x.insert(5,33.50)

In [59]:
x

[4, 2, -9, 10.5, 24, 33.5, -3, 8.8]

In [60]:
x.insert(-1, 45)

In [61]:
x

[4, 2, -9, 10.5, 24, 33.5, -3, 45, 8.8]

In [62]:
x.insert(len(x), 8192)

In [63]:
x

[4, 2, -9, 10.5, 24, 33.5, -3, 45, 8.8, 8192]

# Sum all the values of the list

In [64]:
s = 0 
for i in x:
    s += i 
    
print(s)

8307.8

In [65]:
sum(x) # sum is in built function of python --> whenever you put a list or any iterable it will produce the sum

8307.8

# Sort

#### The purpose of this method arrangeing the numbers in the list ascending order and descending order. it also order the alphabates in asending order .

In [66]:
y = [4, -2 , 67, -54, 2 , 27]

In [67]:
y. sort() # it will arrange the numbers in ascending order

In [68]:
y

[-54, -2, 2, 4, 27, 67]

In [69]:
z = [4,-3, -1, 23, 90, -34]
z.sort(reverse= True) # it will arrange  in descending   order .

In [70]:
z

[90, 23, 4, -1, -3, -34]

In [71]:
b = ["mango", "banana", "palm", "apple", "orange"]

In [72]:
b.sort() # it  will be ordered alphabatically .

In [73]:
b

['apple', 'banana', 'mango', 'orange', 'palm']

In [74]:
c = [True, False , 'c', "sherlock", -34.56]
 c.sort()

IndentationError: unexpected indent (<ipython-input-74-c0c9bd1bfa06>, line 2)

# HW Write your own code to sort a  numeric list (without using the sort method)

In [76]:
my_list = [4, 2, 3, -1, -2, 0, 1]

for i in range(len(my_list)):
    for j in range(i + 1, len(my_list)):

        if my_list[i] > my_list[j]:
            my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[-2, -1, 0, 1, 2, 3, 4]

In [78]:
NumList = []

Number = int(input("Please enter the Total Number of List Elements: "))
for i in range(1, Number + 1):
    value = int(input("Please enter the Value of %d Element : " %i))
    NumList.append(value)

for i in range (Number):
    for j in range(i + 1, Number):
        if(NumList[i] > NumList[j]):
            temp = NumList[i]
            NumList[i] = NumList[j]
            NumList[j] = temp

print("Element After Sorting List in Ascending Order is : ", NumList)

Please enter the Total Number of List Elements: 5
Please enter the Value of 1 Element : 1
Please enter the Value of 2 Element : 2
Please enter the Value of 3 Element : 3
Please enter the Value of 4 Element : 4
Please enter the Value of 5 Element : 5
Element After Sorting List in Ascending Order is :  [1, 2, 3, 4, 5]

# List operations

In [79]:
a = ["mango", "banana"]
b = ["apple" , "orange"]
a+b

['mango', 'banana', 'apple', 'orange']

In [80]:
a+[2]

['mango', 'banana', 2]

In [81]:
3*a  # a+a+a

['mango', 'banana', 'mango', 'banana', 'mango', 'banana']

In [82]:
Z= [None] # it is not an empty list

In [83]:
10*Z

[None, None, None, None, None, None, None, None, None, None]

In [85]:
x = [23,56]
x * 4

[23, 56, 23, 56, 23, 56, 23, 56]

# More about list

In [86]:
l = [3,-1,4,3,9,10,9,9,4]
l.index(4)

2

In [88]:
l.count(9)

3

# Wap to print elements and their  counts in the list

input: ```l = [3, -1, 4, 3, 9, 10, 9, 9, 4]```

output: 

```
3 : 2
-1 : 1
4: 2
9: 3
10: 1

In [89]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuple 

Tuple is another data structure in python to list there are some differences between list and  tuple 



List are mutable  but tuple is not mutable

In [90]:
a = 2,3,4
type(a)

tuple

In [91]:
a[0]

2

In [92]:
a[1]

3

In [93]:
a[2]

4

In [94]:
a[:1]

(2,)

In [96]:
a = (2,1,5,6 ,2,7)

In [97]:
a[2:]

(5, 6, 2, 7)

In [98]:
a[:5]

(2, 1, 5, 6, 2)

In [99]:
a[:5]

(2, 1, 5, 6, 2)

In [100]:
my_list = ['a', 34, -42.6, True]

my_tuple = ('a', 34 , 42.6, True)

In [101]:
my_list[0] = 'b'

In [102]:
my_list

['b', 34, -42.6, True]

In [103]:
my_tuple[0] = 'b'

TypeError: 'tuple' object does not support item assignment

# Set

### set is data structure which contain unique ordered  values. 


#### set are not indexable or sliceable.

In [1]:
my_list = [3,-2, 4, 5,2,4,-2, 4]

In [2]:
set(my_list)

{-2, 2, 3, 4, 5}

In [3]:
A = {3,6,9,12,15,18,21,24,27,30} # all the values betwwen 1 to 30 which are divisble by 3
B = {5,10,15,20,25,30} # al lthe values between 1 to 30 which are divisible  by 5

# Set.Methods

In [5]:
A.intersection(B)

{15, 30}

In [6]:
A.union(B)

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30}

In [7]:
A.difference(B)

{3, 6, 9, 12, 18, 21, 24, 27}

In [8]:
B.difference(A)

{5, 10, 20, 25}

In [9]:
A.symmetric_difference(B)

{3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27}

In [10]:
C = {"apple","banana","orange"}
D = {"apple", "banan", "orange","guava", "pineapple", "cocunt"}

In [20]:

D.issubset(C)

False

In [24]:
C.issubset(D)  ## returns whether this set contains another set or not

False

In [23]:
D.issuperset(C) ## returns whether this set contains another set or not

False

In [15]:
C.issubset(C)

True

In [16]:
C.isdisjoint(B)

True

In [22]:
C.issubset(C) # returns whether another set contains this set or not

True

In [21]:
C.isdisjoint(B) # Returns whether two sets hava a intersction or not

True

In [25]:
C.isdisjoint(B)

True

In [26]:
C.isdisjoint(D)

False

In [27]:
A.isdisjoint(B)

False

In [28]:
A.intersection(C)

set()

In [31]:
A.intersection(C)

set()

```
[] -> Empty list

() -> Empty tuple

set() -> Empty set

{} -> Empty dictionary
```

# Dictionary

##### IT  contains  key ,value  pairs

In [32]:
fruits = {'apple' : 80 , 'banana': 200 , 'mango' : 100 , 'pineapple' : 30 }

In [33]:
type(fruits)

dict

In [35]:
fruits['apple']

80

In [36]:
fruits['apple'] = 75

In [37]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [38]:
d = {1 :'apple'  , 2 :'banana' , 3: 'mango' , 4 :'pineapple' }

In [39]:
d[1]

'apple'

In [40]:
d[3]

'mango'

In [41]:
d[8]

KeyError: 8

In [42]:
s = {1: 35, 3.5: 'sachin', 'Sourav' : 'Data', 20 :'Kumble'}

In [44]:
s[1]

35

In [45]:
s[20]

'Kumble'

In [46]:
s[3.5]

'sachin'

In [47]:
print(s)

{1: 35, 3.5: 'sachin', 'Sourav': 'Data', 20: 'Kumble'}

### How to create dictionary

In [49]:
list_of_fruits = ['apple', 'mango', 'banana', 'pipeapple', 'orange']

price_per_kilo = [180, 120, 40, 80, 75]

In [51]:
for x in zip(list_of_fruits, price_per_kilo):
    print(x)

('apple', 180)
('mango', 120)
('banana', 40)
('pipeapple', 80)
('orange', 75)

In [54]:
fruit_price = dict(zip(list_of_fruits, price_per_kilo))

In [55]:
fruit_price

{'apple': 180, 'mango': 120, 'banana': 40, 'pipeapple': 80, 'orange': 75}

In [57]:
city_pincode = [('Delhi', [100000, 500000]), ('Mumbai', 200000), ('Chennai', 400000), ('Kolkata',700000)]

In [58]:
pincode = dict(city_pincode)

In [59]:
pincode

{'Delhi': [100000, 500000],
 'Mumbai': 200000,
 'Chennai': 400000,
 'Kolkata': 700000}

In [60]:
market_1 = {'apple':180 , 'mango' :120 , 'banana' : 40}

market_2 = {'mange':150, 'banana' : 45 , 'pipeapple' :75}

market_3 = {'pipeapple' :80 , 'apple':160, 'manga' : 130 }

In [62]:
market_price = {'market_1' : market_1 , 'market_2' : market_2 , 'market-3' : market_3}

In [63]:
market_price

{'market_1': {'apple': 180, 'mango': 120, 'banana': 40},
 'market_2': {'mange': 150, 'banana': 45, 'pipeapple': 75},
 'market-3': {'pipeapple': 80, 'apple': 160, 'manga': 130}}

# Dictionay Methods

In [64]:
s.clear()

In [65]:
s

{}

In [66]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [67]:
fruits['apple']

75

In [68]:
fruits.get('banana')

200

In [70]:
fruits.keys()

dict_keys(['apple', 'banana', 'mango', 'pineapple'])

In [71]:
fruits.items()

dict_items([('apple', 75), ('banana', 200), ('mango', 100), ('pineapple', 30)])

In [72]:
for a,b in fruits.items():
    print(f" price of {a} is Rs.{b}/kg")

 price of apple is Rs.75/kg
 price of banana is Rs.200/kg
 price of mango is Rs.100/kg
 price of pineapple is Rs.30/kg

In [73]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [74]:
'apple' in fruits

True

In [75]:
'orange' in fruits

False

Python Collections (Arrays)

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    
    
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    
    
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    
    
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

Python has a set of built-in methods that you can use on dictionaries.

Method 	Description

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary


fromkeys()	Returns a dictionary with the specified keys and value


get()	Returns the value of the specified key


items()	Returns a list containing a tuple for each key value pair



keys()	Returns a list containing the dictionary's keys



pop()	Removes the element with the specified key


popitem()	Removes the last inserted key-value pair




setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified valu



update()	Updates the dictionary with the specified key-value pair



values()	Returns a list of all the values in the dictionary

#### Find the market where mango is cheapest and also  find the cheapest  price.

In [79]:
cheapest_mango_price = 9999999 # arbitarily high number.

for m , f in market_price.items():
    if 'mango' in f :
        v = f.get('mango')
        
        if v < cheapest_mango_price:
            cheapest_mango_price = v
            market = m 
            
print(f"Cheapest mango price is : {cheapest_mango_price} and it is available in : {market}")

Cheapest mango price is : 120 and it is available in : market_1

In [82]:
fruits.values()

dict_values([75, 200, 100, 30])

In [83]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

In [84]:
fruits

{'apple': 75, 'banana': 200, 'mango': 100, 'pineapple': 30}

# Python  function 

 ```python

def add_numbers(a, b):
    c = a+b
    return c
```

In [85]:
def add_numbers (a,b) :
    c = a+b
    return c

In [86]:
add_numbers (3,6)

9

Write a function that will take a list will sort its  value in ascending order.

In [91]:
def my_sort(my_list):
    n = len(my_list)
    for i in range(n-1):
        for j in range(n-i-1):
            if my_list[j] > my_list[j+1]:
                temp = my_list[j]
                my_list[j] = my_list[j+1]
                my_list[j+1] = temp
    return my_list

In [92]:
my_sort([-3, 12,-5, 34, 2])

[-5, -3, 2, 12, 34]

In [93]:
max([9,2,9,11])

11

In [95]:
min([4,1,-3,12])

-3

In [96]:
sorted ([4,1,-3,21])

[-3, 1, 4, 21]

### Write a function that will return maximum  and minimum values from a list

In [101]:
def find_max_min(my_list):
    if len(my_list) != 0:
        max_value = my_list[0]
        min_value = my_list[0]
        for i in range (1, len(my_list)):
            if max_value < my_list[i]:
                 max_value = my_list[i]
            if min_value > my_list[i]:
                min_value = my_list[i]
                
        return max_value, min_value
    else:
        print("The list is empty")
        
        return None  , None

In [102]:
max_v, min_v = find_max_min([4,1,-3,21])

In [103]:
max_v

21

In [104]:
min_v

-3

In [105]:
find_max_min([])

The list is empty

(None, None)

# Functions

#### WAF to add two numbers

In [106]:
def add_numbers(a,b):
    return a+b

In [108]:
add_numbers(5,6)

11

In [109]:
add_numbers(6, 'c')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Doc String - Document String

In [115]:
def add_numbers(num1, num2):
    """
    Description: This function will add two input numbers and return the result
    
    Inputs:
        - num1 : number (float or int type)
        - num2 : number (float or int type)
        
    Return:
        - It returns a number (float ot int type)
    """
    return num1 + num2

In [116]:
add_numbers(1,2)

3

# WAF to calculate the factorial of a number

$ n! = n \times (n-1) \times (n-2) \times .... \times 2 \times 1 $

$ 5! = 5 \times 4 \times 3 \times 2 \times 1 = 120 $

$ 6! = 6 \times (5 \times 4 \times 3 \times 2 \times 1) $

$ 6! = 6 \times 5!$

$ n! = n \times (n-1)!~~[n > 1]$

In [125]:
def factorial_recursion(n):
    
    if n == 1 or n == 0:
        return 1
    
    else:
        return n * factorial_recursion(n-1)

In [126]:
factorial_recursion(5)

120

### WAF to find a value in a list

In [127]:
def find_value(L,n) :
    if len(L) == 0:
        print("Number not found")
        return None
    if L[0] == n :
        print("Number found")
        return None
    else:
        return find_value(L[1:], n)

In [128]:
find_value([1,2,3,4,5],7)

Number not found

#  WAF to print the binomial cofficient given (n,r)

In [137]:
def binom_coeff(n, r):
    value = factorial(n) / (factorial(n-r) * factorial(r))
    return value

In [138]:
binom_coeff(5,2)

NameError: name 'factorial' is not defined

#### WAF to print Fibonacci Series upto nth term

In [139]:
def print_fibonacci(n):
    fibonaci_series = [0, 1]
    if n == 1:
        return fibonaci_series[0]
    if n == 2:
        return fibonaci_series
    if n < 1:
        print("Error in input....")
        return None
    for i in range (2, n) :
        v = fibonaci_series[-1] + fibonaci_series[-2]
        fibonaci_series.append(v)
    return fibonaci_series

In [140]:
print_fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

##### HW : WAF to print Fibonacci Series using Recursion

In [2]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

# File Handling in Python
We can do following operations on file

We can read content of a existing file

We can open an existing file and write something on it or append something to it.

open() function
This function opens a file and return the file object.

open(file_path, mode)
mode in the open() function can have following values:

r : reading mode (read any existing file)

w : write mode (write on any existing file, if there are data in the existing file it will be overwritten)

r+ : read-write mode (Read the existing file, overwrite the content of the existing file)

w+ : write-read mode (overwrite the content or read the content of the existing file)

a: append mode (it will append at the end of existing content)

a+ : append-read mode (it will append at the end of existing content or read the content of existing file)

In [6]:
a = 1
a+=1

In [12]:
x = "66"
y = x +str(9)

In [13]:
x**y

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

In [15]:
x^^y

SyntaxError: invalid syntax (<ipython-input-15-d68e6517cc50>, line 1)

In [18]:
~4

-5

In [19]:
1st_string  = 1

SyntaxError: invalid syntax (<ipython-input-19-da1926802312>, line 1)

In [21]:
a b c  = 3000 6000 7000

SyntaxError: invalid syntax (<ipython-input-21-c42a0e22ef50>, line 1)

In [24]:
a = 1
++a

1

In [27]:
float('56+78')

ValueError: could not convert string to float: '56+78'

# Lambda Function in python

##### Small anonymous function in python

### Given a number return its square

In [28]:
x = lambda a : a**2

In [29]:
x(5)

25

In [30]:
y = lambda a,b : a**b

In [31]:
y(2,3)

8

# List comprehension

In [32]:
L = [2,3,4,1,5]

# Add 5 all the elements in the list

In [33]:
result = []

for x in L:
    result.append(x+5)
    
result

[7, 8, 9, 6, 10]

In [36]:
[x+5 for x in L]

[7, 8, 9, 6, 10]

List comprehension has three part

```python
[<operations> <looping> <conditionals with if> (optional)] 

[<operations>  <conditionals with if and else> <looping> (optional)]
```

In [37]:
L=  list(range(100)) #List of all numbers from 0 to 99

In [38]:
odd_numbers = []

for x in L:
    if x % 2 != 0:
        odd_numbers.append(x)
        
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [40]:
[x for x in L if x%2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

### Given a list  of numbers  return another boolean valued list where it will be  True if the number is even, False if the number is odd (using list comprehension)

```
input_list = [3, 1, 9, 4, 5, 6]
output_list = [False, False, False, True, False, True]
```

In [45]:
out_list = []
input_list = [3,1,9,4,5,6]

for x in input_list:
    if x%2 == 0:
        out_list.append(True)
    else:
        out_list.append(False)
        
out_list

[False, False, False, True, False, True]

In [46]:
[True if x%2 == 0 else False for x in input_list]

[False, False, False, True, False, True]

# Map( ) function  in python 

function:

def my_function(value):
    <some codes>
    return output

my_list = [v1, v2, v3, ...., vn]

x = map(my_function, my_list) # return a map object

x = list(map(my_function, my_list)) # another list with the function applied on each values of my_list

In [47]:
def fun(v):
    return v+3

In [49]:
fun(4)

7

In [55]:
fun(-3)

0

In [51]:
L = [2,-4,0, 1,6]

In [53]:
x = map(fun , L)

In [56]:
list(x)

[5, -1, 3, 4, 9]

#### Suppose you are given  a list of  strings . You  want to return the lenght of each string.

```
L = ['abc','xyzjk','tuvdws']

output = [3, 5, 6]

In [57]:
my_list = ['abc','xyzjk','tuvdws']

list(map(len, my_list))

[3, 5, 6]

Type Markdown and LaTeX:  𝛼2

# String manipulation

In [58]:
str1 = "Sachin Tendulkar"

In [59]:
str1[0]

'S'

In [60]:
str1[2]

'c'

In [62]:
str1[6]

' '

In [64]:
len(str1)

16

In [65]:
for i in range (len(str1)):
    print(str1[i])

S
a
c
h
i
n

T
e
n
d
u
l
k
a
r

In [66]:
str1[4:10]

'in Ten'

In [67]:
str1[5:]

'n Tendulkar'

In [68]:
str1[:10]

'Sachin Ten'

# Convert a string to a list

In [69]:
L = list(str1)

In [70]:
L

['S',
 'a',
 'c',
 'h',
 'i',
 'n',
 ' ',
 'T',
 'e',
 'n',
 'd',
 'u',
 'l',
 'k',
 'a',
 'r']

In [71]:
str(L)

"['S', 'a', 'c', 'h', 'i', 'n', ' ', 'T', 'e', 'n', 'd', 'u', 'l', 'k', 'a', 'r']"

# Find a character inside the string. Return the first index if found else return - 1

In [73]:
def find_character(string, ch):
    if len(string) > 0:
        if i in range(len(string)):
            if ch == string[i]:
                return i
    return -1

In [74]:
find_character(str1, 'c')

-1

In [75]:
find_character(str1, 'w')

-1

In [76]:
find_character(str1, 'n')

-1

In [1]:
def divide_name(name):
    idx = find character(name, '')
    if dx != -1:
        firstname = name[:idx]
        lastname = name[idx]

SyntaxError: invalid syntax (<ipython-input-1-3ed9824b88ed>, line 2)

In [1]:
def personal_details():
    name, age = "Simon", 19
    address = "Bangalore, Karnataka, India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

personal_details()

Name: Simon
Age: 19
Address: Bangalore, Karnataka, India

Yeah ! Your answer is : 1
Sorry ! You are dividing by zero

In [3]:

#########The try and except block in Python is used to catch and handle exceptions. Python executes code following the try statement as a “normal” part of the program. The code that follows the except statement is the program's response to any exceptions in the preceding try clause.





try:
    numerator = 10
    denominator = 0

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")

# Output: Error: Denominator cannot be 0.

Error: Denominator cannot be 0.

In [4]:
file1 = open("MyFile.txt","a")
file1.close()

In [5]:
# Program to show various ways to read and
# write data in a file.
file1 = open("myfile.txt","w")
L = ["This is Delhi \n","This is Paris \n","This is London \n"] 
  
# \n is placed to indicate EOL (End of Line)
file1.write("Hello \n")
file1.writelines(L)
file1.close() #to change file access modes
  
file1 = open("myfile.txt","r+") 
  
print("Output of Read function is ")
print(file1.read())
print()
  
# seek(n) takes the file handle to the nth
# bite from the beginning.
file1.seek(0) 
  
print( "Output of Readline function is ")
print(file1.readline()) 
print()
  
file1.seek(0)

Output of Read function is
Hello
This is Delhi
This is Paris
This is London


Output of Readline function is
Hello

0

In [6]:
# Python3 program to demonstrate the 
# sqrt() method 
  
# import the math module 
import math 
  
# print the square root of  0 
print(math.sqrt(0)) 
  
# print the square root of 4
print(math.sqrt(4)) 
  
# print the square root of 3.5
print(math.sqrt(3.5))

0.0
2.0
1.8708286933869707

In [1]:
def square(n):
    '''Takes in a number n, returns the square of n'''
    return n**2

print(square.__doc__)

Takes in a number n, returns the square of n

In [3]:
import numpy as np
x = np.array([-1, -4, 0, 2, 3, 4, 5, -6])
print("Original array:")
print(x)
print("Replace the negative values of the said array with 0:")
x[x < 0] = 0
print(x)

Original array:
[-1 -4  0  2  3  4  5 -6]
Replace the negative values of the said array with 0:
[0 0 0 2 3 4 5 0]

In [4]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64